<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.ks.mapper.CommentMapper">

    <delete id="deleteByAffairId" parameterType="int">
        DELETE FROM comment WHERE affairId = #{affairId}
    </delete>

    <insert id="save" parameterType="com.ks.bean.Comment">
        INSERT INTO comment (commentId, content, plTime, userId,affairId)
        VALUES (#{commentId}, #{content}, NOW(),#{userId} , #{affairId})
    </insert>

    <select id="getCommentList" parameterType="int" resultType="com.ks.bean.Comment">
        SELECT * FROM comment
        WHERE affairId = #{affairId}
    </select>

    <delete id="deleteByUserId" parameterType="int">
        DELETE FROM comment WHERE userId = #{uId}
    </delete>
</mapper>