<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--首先来解析namespace:命名空间，此属性通常用来映射Dao层接口.-->
<mapper namespace="com.ks.mapper.UserMapper">
    <!--id:对应Dao层接口方法名parameterType:指定输入参数类型-->
    <!--useGeneratedKeys:="true"把新增加的主键赋值到自己定义的keyProperty(id)中-->
    <select id="queryUserByName" parameterType="String" resultType="com.ks.bean.User">
        select * from user where uName = #{userName}
    </select>

    <select id="getNameById" parameterType="int" resultType="String">
        select uName from user where uId = #{id}
    </select>

    <select id="userList" resultType="com.ks.bean.User" parameterType="int">
        select * from user where uType=1 or uId=#{uid}
    </select>

    <insert id="addUser" parameterType="com.ks.bean.User" >
        INSERT INTO user (uId, uName, uPwd, uType)
        VALUES (#{uId}, #{uName}, #{uPwd},#{uType})
    </insert>

    <delete id="deleteUser" parameterType="int">
        DELETE FROM user WHERE uId = #{uId}
    </delete>

    <update id="reSorting" parameterType="int">
        UPDATE user
        SET uId = uId - 1
        WHERE uId > #{uId}
    </update>

    <select id="getUser" resultType="com.ks.bean.User" parameterType="int">
        select * from user where uId=#{uId}
    </select>

    <update id="updateUser" parameterType="com.ks.bean.User">
        UPDATE user
        SET uName = #{uName}, uType = #{uType}, uPwd = #{uPwd}
        WHERE uId = #{uId}
    </update>

    <select id="getPwdById" resultType="String" parameterType="int">
        select uPwd from user where uId=#{uId}
    </select>
</mapper>